@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");

/* font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

.bold {
  font-family: "Raleway", sans-serif;
}

.tabs .tab a {
  color: black;
}

.tabs .tab a:hover {
  color: #63a541;
}

.tabs .tab a.active {
  color: #63a541;
}

.tabs .indicator {
  background-color: #63a541;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.radius-2 {
  border-radius: 20px;
}

.card {
  border-radius: 10px;
}

.card .card-image img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 150px;
}

.card .card-image .activator {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 150px;
}
